@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Title</h2>
@using(Html.BeginForm("Items", "Home", FormMethod.Post, new{id="mytable-form"}))
{
    @Html.TextBox("SearchValue")
    <input type="submit" value="Search"/>
}
<table id="mytable" class="table">
    <thead>
        <tr>
            <th rel="Id">Id</th>
            <th rel="FirstName">First Name</th>
            <th rel="LastName">Last Name</th>
            <th rel="Age">Age</th>
            <th rel="Options">&nbsp;</th>
        </tr>
    </thead>
    <tbody class="ui-widget ui-widget-content ui-corner-all">
    </tbody>
</table>

<script type="text/javascript">
    $(function () {
        $('table').griffinTable();
        //$('table').griffinTable('loadData', jsonResponse.Rows);
    });
</script>